.jellyfin-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  max-width: 450px;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background: none;
}

.jellyfin-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.jellyfin-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  width: calc(100% - 130px);
}

.jellyfin-certificate {
  width: 25px;
  height: auto;
  margin: 5px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.jellyfin-poster {
  width: 120px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
}

.scrollable-overview {
  font-size: 0.75em;
  line-height: 1.2em;
  max-height: 6em;
  overflow: hidden;
  position: relative;
  text-align: left;
}

.scrollable-overview p {
  display: inline-block;
  white-space: normal;
  max-height: 6em;
  line-height: 1.2em;
  overflow: hidden;
  animation: scroll-overview 25s linear forwards;
}

@keyframes scroll-overview {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
